/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Cabin');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono');
@import url('https://fonts.googleapis.com/css2?family=Oxygen');

$font-family-serif: "Oxygen", sans-serif !default;
$font-family-sans-serif: "Oxygen", sans-serif !default;
$headings-font-family: "Oxygen", sans-serif !default;
$font-size-root: 18px !default;

/*-- scss:rules --*/


